@tailwind base;
@tailwind components;
@tailwind utilities;

//scroll bar style
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9CA3AF #E5E7EB;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #E5E7EB;
}

*::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border-radius: 20px;
  border: 3px solid #E5E7EB;
}

/*custom*/
.pageStyle {

  @apply h-full font-poppins;
}

.svgStyle {
  @apply mt-10 text-red-400 fill-current;
}
