/* CSSTransition classes  */
$speed: 500ms;

.slideInEnter {
  transform: translateX(-110%);
  opacity: 0;
}

.slideInEnterActive {
  transform: translateX(0%);
  transition: all $speed ease;
  opacity: 1;
}

.slideInExit {
  position: absolute;
  opacity: 1;
}

.slideInExitActive {
  transform: translateX(-110%);
  transition: all $speed ease;
  opacity: 0;
}

.navLink {
  @apply mb-10 text-3xl font-extrabold tracking-wider text-white cursor-pointer font-poppins md:text-4xl md:mb-12 hover:opacity-70;
}
